<div id="maincontent">
  <div id="introContainer"> 
    <section id="content">
		<hgroup>
			<h2>Administra tu Iglesia en linea</h2>
			<h3>Gratis !!</h3>
			<h1>Mi Iglesia En Linea</h1> 
		</hgroup>
		<section id="justifytest">
			Bendiciones
			<br>Mi Iglesia en linea es una plataforma tecnol&oacute;gica para facilitarte la adminstraci&oacute;n de tu Iglesia. Este servicio te ahorrar&aacute; tiempo y esfuerzo y te dar&aacute; visibilidad de tu membres&iacute;a, ministerios, grupos de oraci&oacute;n
		</section>
    </section>
  </div>
  <div id="registerContainer">
    <section id="register">    	
	<div id="formulario">	
		<form> 
		  <div id="filaTabla"><label>Nombre:</label><div id="columnaTabla"><input type="text"></div></div>
                  <div id="filaTabla"><label>Correo:</label><div id="columnaTabla"><input type="text"></div></div>
                  <div id="filaTabla"><label>Iglesia:</label><div id="columnaTabla"><input type="text"></div></div>
		  <a href="#" class ="regButton">Registrate</a>
		</form>
    </div>
	</section>     
  </div>
</div>
