/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
{
  margin: o;
  padding: 0;

}



body {  
  margin: 0 auto;
  font: 14px/22px "Lucida Grande", Arial, sans-serif;  
  background: #8FF48F; 
}  

#maincontainer
{
    margin: 0 auto;  
    width: 900px;  
    height: 500px;
    background: yellow;
    padding: 10px;
}

#center
{
  padding-top: 90px;
}

nav {
  float: right;
  padding: 0 0.7em;
  white-space: nowrap;
  background: yellow;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

